<%- layout('boilerplate.ejs')  %>

<body>
  <div style="height: 70vh;width: 100%;display: flex;justify-content: center;align-items: center;;">
    <h3 style="color: gray;font-size: xx-large;">No Data Found </h3>
  </div>
</body>